body {
    font-family: sans-serif;
}

header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 50px;
}

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.search-bar {
    padding: 20px;
    background-color: #f2f2f2;
}

.search-bar h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.round-trip {
    display: flex;
    justify-content: space-between;
}

.origin, .destination {
    display: flex;
    flex-direction: column;
}

.origin label, .destination label {
    font-weight: bold;
    margin-bottom: 5px;
}

.origin input, .destination input {
    padding: 10px;
    border: 1px solid #ccc;
}

.alert-warning:hover {
    display: none;
  }